<!-- we are fucked up -->
<style>
    .root {
        width: 100%;
        height: calc(100vh - 3.5em);
    }

    .selectChat {
        display:block;
        text-align: center;
        margin-top: 10px;
    }

    #send {
        width: 100%;
    }

    .chat {
        width: 100%;
        height: 100%;
    }

    .chatCard { 
        text-decoration: none;
    }

    .nochat {
        display:block;
        text-align: center;
        margin-top: 10px;
    }

    .scroll {
        overflow-y: auto;
        height: 90%;
    }

    .bubble {
        max-width: 80%;
        width: fit-content;
        border-radius: 10px;
        border: lightgray solid 1px;
        margin: 10px;
        padding: 10px;
    }

    .text {
        margin: 10px;
    }

    .right {
        float: right;
    }

    .hide {
        display:none;
    }
</style>
<%- include('nav') %>
<div class="root">
    <div class="chat hide">
        <div class="productInfo">
        </div>
        <div class="scroll">
            <div class="bubble left">
                안녕하세요
            </div>
            <div class="bubble right">
                안녕하세요^^
            </div>
        </div>
        <div class="text">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-10">
                        <input id="chatText" class="form-control" type="text">
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary" id="send">전송</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="chatlist">
        
    </div>
</div>
<!-- <script src="/socket.io/socket.io.js"></script> -->
<script>
    function showBubble() {
        $('div.chat').removeClass('hide');
        $('div.chatlist').addClass('hide');
    }

    function showChatList() {
        $('div.chat').addClass('hide');
        $('div.chatlist').removeClass('hide');
    }
    $(window).on('load', () => {
        let chat_id = window.location.href.match(/\id=[0-9]+/g);
        if(!!chat_id) {
            chat_id = chat_id.split('=')[1];
            showBubble();
        }else fetch('/api/chat/getChats').then(async res => {
            let data = await res.json().data;
            if(!!data?.length) forEach((e) => {
                let card = `<a class="card chatCard" href="#" data-chatID="${e.chat_id}">
                    <div class="card-body">
                        <h5 class="card-title">${e.username}</h5>
                        <p class="card-text">${e.last_message}</p>
                    </div>
                </a>`
                $('div.chatlist').append(card);
            });
            else {
                $('div.chatlist').append('<span class="nochat">아직 조용하군요..</span>');
            }
        });
    })
</script>