<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oops!</title>
</head>
<body>
    <style>
        div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    </style>
    <div>
        <h1><%=error.status%></h1>
        <p>아무래도 여긴 아무것도 없는거 같네요..</p>
        <a href="/">메인으로 돌아가기</a>
    </div>
</body>
</html>