<style>
    .root {
        padding: 25px;
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }

    .card {
        text-decoration: none;
        margin-bottom: 10px;
        width: 100%;
        cursor: pointer;
    }

    .productImg {
        position: relative;
    }

    .productImg > img {
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    .selled {
        background-color: rgba(0,0,0,0.6);
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .selled > h3 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .hide {
        display: none;
    }
</style>

<%- include('nav', {username: username}) %>
<div class="root">
    <div class="products">
    </div>
    <div class="position-absolute bottom-0 end-0 rounded-circle m-5">
        <a href="/write" class="btn btn-success btn-lg" aria-expanded="false" aria-haspopup="true">
            +
        </a>
    </div>
</div>

<script>
    let page = 1
    let isLast = false;

    $('div.root').on('scroll', scrollEvent);

    function scrollEvent(e) {
        let element = e.target;
        if(Math.abs(element.scrollHeight - element.scrollTop - element.clientHeight) < 1) {
            if(isLast) return;
            fetch('/api/trades/get?page=' + page).then(async res => {
                let data = await res.json();
                if(!!data.result) {
                    data.result.forEach(e => {
                        let card = `<a class="card" href="/product/${e.id}">
                            <div class="productImg">
                                <div class="selled ${e.status == 0 ? "hide" : ""}">
                                    <h3>판매완료</h3>
                                </div>
                                <img src="${e.thumbnail}" class="card-img-top">
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">${e.title}</h5>
                              <p class="card-text">${e.price.toLocaleString('en-US')}원</p>
                            </div>
                        </a>`
                        $('div.products').append(card);
                    });
                    if(data.result.length == 0) isLast = true;
                    page++;
                }
            })
        }
    }

    $(window).on('load', () => {
        fetch('/api/trades/get?page=' + page).then(async res => {
            let data = await res.json();
            if(!!data.result) {
                data.result.forEach(e => {
                    let card = `<a class="card" href="/product/${e.id}">
                        <div class="productImg">
                            <div class="selled ${e.status == 0 ? "hide" : ""}">
                                <h3>판매완료</h3>
                            </div>
                            <img src="${e.thumbnail}" class="card-img-top">
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">${e.title}</h5>
                          <p class="card-text">${e.price.toLocaleString('en-US')}원</p>
                        </div>
                    </a>`
                    $('div.products').append(card);
                });
                page++;
            }
        })
    })
</script>