<style>

</style>

<%- include('nav', {username: username}) %>
<div>
    <div class="products">

    </div>
    <div class="position-absolute bottom-0 end-0 rounded-circle m-5">
        <a href="/write" class="btn btn-success btn-lg" aria-expanded="false" aria-haspopup="true">
            +
        </a>
    </div>
</div>

<script>

</script>