<div class="main">
    <img class="logo" src="/images/logo.webp">
    <div>
        <span class="text">운호스,<br>쉽고 빠른 득템 기회</span>
        <br/>
        <div style="margin-top: 1vh;">
            <a class="btn btn-primary" href="/login">로그인</a> <a class="btn btn-primary" href="/register">회원가입</a>
        </div>
    </div>
</div>

<style>
    .logo {
        width: 100px;
        object-fit: scale-down;
        margin-right: 1vw;
    }

    .text {
        font-weight: bold; 
        font-size:xx-large; 
        overflow:hidden; 
        text-wrap: nowrap;
        margin: 0;
    }

    .main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
    }
</style>