<style>
    .root {
        padding: 25px;
    }

    label {
        font-size: 1.3em;
    }
</style>
<!-- <script>let editor;</script> -->

<script src="/js/ckeditor5/ckeditor.js"></script>
<%- include('nav', {username: username}) %>
<div class="root">
    <form action="javascript:upload();">
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" class="form-control" id="title">
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">상품 종류</label>
            <select id="category" class="form-select">
                <option value="0">디지털</option>
                <option value="1">문구</option>
                <option value="2">도서</option>
                <option value="3">의류</option>
                <option value="4">취미/게임/음반</option>
                <option value="5">기타</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">가격</label>
            <div class="input-group mb-3">
                <input type="number" class="form-control" id="price">
                <span class="input-group-text" id="basic-addon2">원</span>
            </div>
        </div>
        <div class="mb-3">
            <div id="editor"></div>
        </div>
        <button type="submit" class="btn btn-primary upload">업로드</button>
    </form>
</div>

<script>
ClassicEditor
    .create( document.querySelector( '#editor' ), {
        simpleUpload: {
            uploadUrl: '/api/fileupload',
            withCredentials: true
        }
    }).then(newEditor => {
        window.editor = newEditor;
    })
    .catch( error => {
        console.error( error );
    } );

function upload() {
    let title = $('input#title').val()
    let price = $('input#price').val()
    let body = window.editor.getData();
    console.log(title, price, body)
    if(!!!title) {
        return;
    }
    if(!!!body) {
        return;
    }

    //TODO: upload product
}
</script>